/* body {
  text-align: center;
}

button {
  margin-bottom: 20px;
}
div {
  height: 200px;
  width: 600px;
  border: 1px solid black;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  height: 200px;
  width: 600px;
  border: 1px solid rebeccapurple;
  margin: auto;
  box-shadow: 5px 10px 13px;
} */
